run = "npm run dev"
modules = ["nodejs-20"]
hidden = [".config", ".next", ".git"]

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "production"

[languages]
[languages.typescript]
pattern = "**/*.{ts,tsx}"
[languages.javascript]
pattern = "**/*.{js,jsx}"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[env]
NEXT_TELEMETRY_DISABLED = "1"

[nix]
channel = "stable-22_11"

[unitTest]
language = "nodejs"

[[ports]]
localPort = 3000
externalPort = 80